:root{
    --withContent: 400px;
    --heightContent: 700px;
    --gap: 5px;
    --withCalculate: cal(var(--withContent) - var(--gap))
}

h1{
    color: #F15151
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
span{
    color: rgb(97, 97, 97);
    font-weight: 800;
    font-size: 50px;
}

input{
    font-size: 20px;
}

#calculator{
    width: var(--withContent);
    height: var(--heightContent);
    border: 1px solid rgb(197, 197, 197);
    border-radius: 15px;
    box-shadow: 0 0 10px #5c5d5e6e;
    display: flex;
    flex-direction: column;
}

#calculator__display{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator__buttons{
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap)
}

.calculator__buttonsAll{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}

.--numbers{
    width: calc((var(--withContent)/4) * 3);
    display: flex;
    justify-content: center;
}

.--sings{
    width:  calc((var(--withContent)/4));
}

.sing{
    color: rgb(17, 122, 170);
    font-size: 30px;
    white-space: pre;
}
.buttons{
    width: 95px;
    height: 95px;
    margin: 0px;
    padding: 0px;
    border: 1px solid rgb(110, 110, 110);
    border-radius: 5px;
    box-sizing: border-box;
}

.__erase{
    background-image: url('./assets/backspace.svg');
    background-repeat: no-repeat;
    background-position:  center;
    
}