:root{
    --withContent: 400px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
span{
    color: rgb(114, 114, 114);
}
#calculator{
    width: var(--withContent);
    height: 700px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 15px;
    box-shadow: 0 0 10px #5c5d5e6e;
    display: flex;
    flex-direction: column;
}

#calculator__display{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator__buttons{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.buttons{
    width: 100px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}